body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "American Typewriter";
}

.footer-msg {
    text-align: center;
    text-decoration-style: solid;
}

.footer {
    margin: 10px;
    padding: 10px;
    border: 20px;
}
/* The animation code */
@keyframes example {
    from {background-color: gray;}
    to {background-color: snow;}
}

/* The element to apply the animation to */
.animate {
    background-color: snow;
    animation-name: example;
    animation-duration: 4s;
}

.about-me {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quora-post {
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

.projects {
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 10px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    margin: 0;
    padding: 0;
    height: 800px;
    width: 800px;
}

#iss {
    text-align: center;
}

.banner {
    border: 0;
    height: 239px;
    width: 230px;
}

.profile {
    width: 267px;
}

.jumbotron {
    background-color: #d2bd98;
}

.navbar {
    background-color: #d2bd98;
    font-size: large;
    font-family: "American Typewriter";
}