<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron well">
                <h2>
                    Hi. I am Sandeep Kumar
                </h2>
                <p>
                I am a QA Lead Engineer at one of the largest telcos in Australia.
                Based out of Sydney, Australia.
                I like to explore and try my hands at Web Development, Mobile Development, Photogrpahy and Writing.
                I love reading and watching movies.
                I published an android app on the google play store, ran moviepulse website (an imdb look alike) for some time, write on quora on topics of my interest. Many of my answers were upvoted in thousands, featured on quora digests and for some time rated as the most viewed writer in test automation.
                I love programming and wrote test automation frameworks in Ruby, Java and Javascript.
                I am passionate about all things QA.
                I am a proud father of a three year old daughter.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img alt="Sandeep Kumar" src="img/SandeepKumar.jpg" class="profile" />
        </div>
    </div>
</div>