<div class="container-fluid">
    <!-- banner -->
    <div class="row">
        <div class="col-md-12">
            <img class="banner" src="img/SandeepKumarBugHunter.png">
        </div>
    </div>

    <!-- navigation -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="active" href="#!">
                                <i class="fa fa-home fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!projects">
                                <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!cv">
                                <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!quora">
                                <i class="fa fa-quora fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!twitter">
                                <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!iss">
                                <i class="fa fa-space-shuttle fa-5x" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>

