

<div class="container-fluid projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <a type="button" class="btn btn-default btn-block btn-info btn-lg" target="_blank" href="https://medium.com/@sandeepuppuluri/audio-technica-athls50is-review-7a5abd80fa48">Audio Technica ATH LS50IS review</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <a type="button" class="btn btn-default btn-block btn-info btn-lg" target="_blank" href="https://medium.com/@sandeepuppuluri/jbl-e65btnc-wireless-noise-cancelling-headphones-review-6b2490a6c318">JBL E65BTNC review</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <a type="button" class="btn btn-default btn-block btn-info btn-lg" target="_blank" href="https://medium.com/@sandeepuppuluri/bose-soundlink-around-ear-wireless-headphones-ii-review-d88d7758f053">Bose Soundlink around-ear wireless headphones II review</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>

