

<div class="container-fluid projects">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzdijugIeGsRVS3BX5-9j1jQQsD9OvdjY&callback=initMap">
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 id="iss-status">Current location of International Space Station</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-2">
            <div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
            </div>
        </div>
    </div>
</div>
