<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <a class="twitter-timeline" href="https://twitter.com/ohmyroots">Tweets by ohmyroots</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-2">
                <a href="https://twitter.com/intent/tweet?screen_name=ohmyroots" class="twitter-mention-button" data-show-count="false">Tweet to @ohmyroots</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
